.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}
@media (max-width: 320px){
    .Title{
        margin-top: 22em;
    }
}
@media (min-width: 321px) and (max-width: 426px){
    .Title{
        
        margin-top: 20em;
    }
}

@media (min-width: 427px) and (max-width: 768px){
    .Title{
        margin-top: 15em;
    }
}