.NavMenu{
    min-height: 5%;
    width: 100%;
    display: flex;
    
    padding: 0.5em;
   
  }
  
  .NavMenuItemOne{
    display: flex;
    min-height: 100%;
    width: 10%;
    gap: 1em;
    align-items: center;
    justify-content: center;

  }

  .NavMenuItemTwo{
    display: flex;
    min-height: 100%;
    align-items: center;
    width: 85%;
    justify-content: space-evenly;
    gap: 1em;
    
  }

  .ItemOne{
    border-right: 0.09375em solid black;
    padding-right: 0.625em;
  }

  .ItemTwo{
    border-right: 0.09375em solid black;
    padding-right: 0.625em;
  }

  .ItemThree{
    border-right: 0.09375em solid black;
    padding-right: 0.625em;
  }

  .ItemFour{
    border-right: 0.09375em solid black;
    padding-right: 0.625em;
  }

  .ItemFive{
    border-right: 0.09375em solid black;
    padding-right: 0.625em;
  }

  .ItemSix{
    border-right: 0.09375em solid black;
    padding-right: 0.625em;
  }

  .NavMenuItemThree{
    display: flex;
    height:100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  @media (max-width: 320px) {
    .NavMenu{
      justify-content: space-between;
      min-height: 10%;
    }
    .NavMenuItemOne{
      width: 30%;
    }
    .NavMenuItemTwo {
      display: none;
      /* Apply your adjusted styles for larger screens here */
    }
    .NavMenuItemThree{
      width: 35%;
    }
  }

  @media (min-width: 321px) and (max-width: 450px) {

    .NavMenu{
      width: 100%;
      justify-content: space-between;
      min-height: 10%;
    }

    .NavMenuItemOne{
      width: 30%;
    }

   .NavMenuItemTwo{
    display: none;
   }
   .NavMenuItemThree{
    width: 25%;
   }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .NavMenu{
      width: 100%;
      justify-content: space-between;
    }
    .NavMenuItemOne{
      gap: 0.5em;
    }
    .NavMenuItemTwo {
      width: 40%;
      font-size: 0.6em;

      /* Apply your adjusted styles for larger screens here */
    }
  }

  @media (min-width: 769px) and (max-width: 1600px) {
    
    .NavMenuItemTwo {
      margin-left: 1em;
      width: 90%;
      font-size: 1em;

      /* Apply your adjusted styles for larger screens here */
    }
  }

  @media (min-width: 1601px) and (max-width: 2560px) {
    
    .NavMenuItemTwo {
      margin-left: 1em;
      width: 90%;
      font-size: 2em;

      /* Apply your adjusted styles for larger screens here */
    }
  }

 
  @media (min-width: 2561px) and (max-width: 3840px) {
    .NavMenuItemTwo {
      margin-left: 1em;
      width: 90%;
      font-size: 2em;

      /* Apply your adjusted styles for larger screens here */
    }

    .NavMenuItemThree {
      width: 15%;
      gap: 2em;
    }

    .ItemOne, .ItemTwo, .ItemThree, .ItemFour, .ItemFive, .ItemSix{
      width: 12%;
    }
  }

  /* NavMenu.css */
.NavMenu {
  position: relative;
}

.MenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
  z-index: 100; /* Ensure the overlay is above other content */
}

.MenuList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Background color for the menu list */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

  
 
  