

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  font-family: "MediumSerif", Times, Georgia, "DejaVu Serif", serif
}


