@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-family: 'Cardo', serif;
  line-height: 1.6;
  overflow: scroll;
  justify-content: space-between;
}

