.NewsGrid{
    min-height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr); /* 20% minimum, 1fr maximum */
    grid-template-rows: auto;
    grid-gap: 1.5em;
}

.NewsGridItem{
    grid-column-start: 0/1;
}