.NewsGrid{
    min-height: 100%;
    width: 100%;
    display: flex;
    
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    /* grid-template-columns: 300px 300px 300px; */
    /* grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)); 20% minimum, 1fr maximum */
    /* grid-template-rows: auto; */
    /* grid-gap: 1.5em; */
    margin-bottom: 5em;
}

.NewsGridItem{
    width: 400px;
    height: 50%;
    margin-bottom: 6em;
}

@media (max-width: 320px){
    .NewsGrid{
        gap: 5em;
    }
   
}

@media (min-width: 321px) and (max-width: 426px){

    .NewsGrid{
        gap: 5em;
    }
   

}

@media (min-width: 426px) and (max-width: 768px){

   

}

