.Hamburger{
    height: 100%;
    width: 40%;
}
.SearchIcon{
    height: 100;
    width:40%;
}
.FacebookIcon{
    height: 100%;
    width: 15%
}

.TwitterIcon{
    height: 100%;
    width: 15%
}

.InstagramIcon{
    height: 100%;
    width: 15%;
}