@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:white;
    font-family: 'Cardo';
    line-height: 1.6;
    overflow: scroll;
    padding: 2em;
    justify-content: space-between;
    gap: 2em;
  }
  
  .containerImage{
    height: 95%;
    width: 100%;
    border-radius: 0.5em;
  }

  .par{
    padding: 3em;
  }

  .authorName{
    font-size: 2em;
  }
  

.headingOne{
  font-size: 2em;
}

.articleDate{
  font-size: 1.2em;
}