
.ItemContainer{
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2em;
    margin: 3em;
}

.NewsItemImage{
    height: 200px;
    width: 100%;
    width: auto;
   
}
.NewsItemText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}