.Footer{
    height: 50%;
    width: 100%;
    display: flex;
    /* background-color: black; */
    padding: 1em;
    justify-content: space-between;
    margin-top: 20em;
    margin-bottom: 5em;
    
    
}

.FooterOne{
    /* color: white; */
    display: flex;
    flex-direction: column;
    gap: 10em;
    width: 35%;
    height: 100%;
}

.FooterTwo{
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1em;
    width: 30%;
    height: 100%;
}

.FooterIcons{
    display: flex;
    width: 30%;
    justify-content: space-between;
    height: 20%;

}

.FooterThree{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

@media (max-width: 320px){
        .Footer{
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 20%;
            margin-top: 125em;
            gap: 3em;
            
        }

        .FooterOne{
            height: 25%;
            gap: 1em;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            
        }
        .LogoFooter{
            width: 30%;
        }
       
        .FooterTwo{
            width: 100%;
            align-items: center;
            justify-self: center;
            margin-top: 4em;
        }

        .FooterThree{
            margin-top: 10em;
            width: 80%;
            align-items: center;
        }

        .FooterIcons{
            width: 75%;
        }

        .FooterOne p {
            align-items: center;
            width: 100%;
        }
       
}

@media (min-width: 321px) and (max-width: 426px){
    .Footer{
        display: flex;
        flex-direction: column;
        margin-top: 140em;
        align-items: center;
        gap: 5em;
    }
    .FooterOne{
        gap: 1em;
        width: 100%;
        align-items: center;
    }

    .LogoFooter{
        width: 30%;
    }
    .FooterTwo p{
        width: 100%;
    }
    .FooterIcons{
        width: 100%;
    }
    .FooterThree{
        margin-top: 2em;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .Footer{
        margin-top: 110em;
        text-align: center;
    }

    .FooterTwo{
        justify-content: flex-start;
        align-items: center;
    }

    .facebook{
        width: 40%;
        height: 75%;
    }

    .instagram{
        width: 40%;
    }

    .twitter{
        width: 40%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .Footer{
        margin-top: 50em;
    }
}

@media (min-width: 1024px) and (max-width: 2560px){
    .FooterOne{
        margin-top: -10em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}