
.NewsBody{
    min-height: 60%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 3em;
    justify-content: center;
    align-items: center;
}

.NewsImage{
    min-height: 100%;
    width: 60%;
}