.Header{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

@media (max-width: 320px){
    .Header{
        margin-bottom: -5em;
        display: flex;
        padding-bottom: 2em;
        justify-content: center;
    }

}

@media (min-width: 321px) and (max-width: 425px){
    .Header{
        width: 300px;
        margin-bottom: -5em;
        display: flex;
        padding-bottom: 2em;
        justify-content: center;
    }

}

@media (min-width: 426px) and (max-width: 768px){
    .Header{
        width: 500px;
        margin-bottom: -5em;
        display: flex;
        padding-bottom: 5em;
        justify-content: center;
    }

}

@media (min-width: 769px) and (max-width: 1024px){
    .Header{
       
        display: flex;
        padding-bottom: 5em;
        justify-content: center;
    }

}